//*mixins*//
@import "./mixin.scss";

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 25;
    &--content {
      width: 45%;
      padding-left: 25rem;
      padding-right: 5rem;
      @include notebook {
        padding-left: 5rem;
        padding-top: 5rem;
      }
      @include tablet {
        width: 95%;
        padding: 3rem 1rem 0 1rem;
      }
    }
    &--img {
      width: 45%;
      position: relative;
      @include tablet {
        width: 60%;
      }
      @include mobile {
        width: 70%;
      }
    }
    @include tablet {
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
    }
  }
  @include tablet {
    height: initial;
  }
}
.circle_1 {
  position: absolute;
  width: 494px;
  height: 494px;
  border-radius: 50%;
  top: -200px;
  left: -181px;
  background: #faf5ff;
  background: linear-gradient(180deg, #faf5ff 0%, rgba(247, 241, 255, 0) 100%);
}
.circle_2 {
  position: absolute;
  width: 325px;
  height: 325px;
  border-radius: 50%;
  top: 840px;
  left: -118px;
  background: #f7f1ff;
  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
}
.circle_3 {
  position: absolute;
  width: 131px;
  height: 131px;
  border-radius: 50%;
  top: 640px;
  left: 182px;
  background: #f7f1ff;
  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
}
.circle_4 {
  position: absolute;
  width: 1538px;
  height: 1538px;
  border-radius: 50%;
  top: -335px;
  left: 922px;
  background: #f7f1ff;
  background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
  @include tablet {
    left: calc(50% - 769px);
    top: 50%;
  }
}
.img__2 {
  position: absolute;
  top: 25%;
  right: 15%;
}
.logo {
  width: 306px;
  height: 75px;
  position: relative;
  background: linear-gradient(90deg, #515151 17.32%, #1d1d1d 72.55%);
  border-radius: 40px;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &__text {
    font-family: $font;
    font-style: normal;
    font-weight: 800;
    font-size: 4.6rem;
    line-height: 56px;
    color: $white;
    @include tablet {
      font-size: 3rem;
      line-height: 4rem;
    }
    @include mobile {
      font-size: 2rem;
      line-height: 2.2rem;
    }
  }
  @include tablet {
    width: 250px;
    height: 52px;
    margin-bottom: 2rem;
  }
  @include mobile {
    width: 210px;
    height: 52px;
    margin-bottom: 1.5rem;
  }
}
.logo__img {
  position: relative;
  animation: jumpLogo 0.3s linear infinite alternate;
}
@keyframes jumpLogo {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -5px;
  }
}
.title {
  margin-bottom: 3rem;
  h1 {
    font-family: $font;
    font-style: normal;
    font-weight: 800;
    font-size: 4.6rem;
    line-height: 5.6rem;
    color: #161616;
    @include tablet {
      font-size: 3rem;
      line-height: 4rem;
    }
    @include mobile {
      font-size: 1.9rem;
      line-height: 2.2rem;
    }
  }
  @include tablet {
    margin-bottom: 2rem;
  }
  @include mobile {
    margin-bottom: 1rem;
  }
}
.text {
  margin-bottom: 5rem;
  p {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #515151;
    @include tablet {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }
    @include mobile {
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }
  @include tablet {
    margin-bottom: 2rem;
  }
  @include mobile {
    margin-bottom: 1rem;
  }
}
.button {
  @include tablet {
    position: absolute;
    z-index: 15;
    bottom: 0;
    left: calc(50% - 145px);
  }
}
