//*mixins*//
@import "./mixin.scss";

.work {
   width: 100%;
   height: 100vh;
   position: relative;
   padding: 8rem 0 0 0;
   overflow: hidden;
   &__circle1 {
      position: absolute;
      width: 500px;
      height: 500px;
      left: -215px;
      top: 697px;
      border-radius: 50%;
      background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
   }
   &__circle2 {
      position: absolute;
      width: 741px;
      height: 741px;
      left: 1400px;
      top: 178px;
      border-radius: 50%;
      background: linear-gradient(180deg, #f7f1ff 0%, rgba(247, 241, 255, 0) 100%);
   }
   &__rocket {
      position: absolute;
      left: 1359.46px;
      top: 73px;
   }
   &__row {
      position: relative;
      z-index: 15;
      &--title {
         width: 80%;
         margin: 0 auto;
         text-align: center;
         margin-bottom: 10rem;
         h3 {
            font-family: $font;
            font-style: normal;
            font-weight: 700;
            font-size: 3.6rem;
            line-height: 4.4rem;
            color: $black;
            margin-bottom: 6rem;
            position: relative;
            &::before {
               content: "";
               position: absolute;
               z-index: -1;
               width: 30%;
               height: 40px;
               margin: 0 auto;
               top: 50%;
               left: 35%;
               background: #ffcede;
               border-radius: 40px;
               @include tablet {
                  height: 30px;
               }
               @include mobile {
                  height: 20px;
               }
            }
            &::after {
               content: "";
               position: absolute;
               z-index: -1;
               width: 20%;
               height: 0;
               left: 40%;
               top: 160%;
               border: 2px dashed $black;
               @include tablet {
                  border: 1px dashed $black;
                  top: 140%;
               }
               @include mobile {
                  top: 100%;
               }
            }
            @include tablet {
               font-size: 2.6rem;
               line-height: 3.4rem;
               margin-bottom: 4rem;
            }
            @include mobile {
               margin-bottom: 2rem;
               font-size: 2rem;
               line-height: 2.4rem;
               padding: 0 1rem;
            }
         }
         p {
            width: 58%;
            margin: 0 auto;
            font-family: $font;
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.8rem;
            color: #515151;
            &:last-child {
               margin-top: 2.5rem;
            }
            @include mobile {
               width: 100%;
               font-size: 1.4rem;
               line-height: 2.2rem;
               padding: 0 1rem;
               &:last-child {
                  margin-top: 1rem;
               }
            }
         }
         @include notebook {
            width: 100%;
            margin-bottom: 5rem;
         }
         @include tablet {
            margin-bottom: 2rem;
         }
         @include mobile {
            margin-bottom: 1rem;
         }
      }
      &--content {
         display: flex;
         align-items: stretch;
         justify-content: center;
         margin-bottom: 3.5rem;
         @include tablet {
            margin-bottom: 2rem;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 0 1rem;
         }
      }
      &--footer {
         text-align: center;
      }
   }
   @include notebook {
      height: initial;
      padding: 4rem 0 0 0;
   }
}
.content__block {
   background: $white;
   border: 1px solid #dfdfdf;
   border-radius: 20px;
   padding: 6rem 2rem;
   width: 18%;
   &:nth-child(2) {
      margin: 0 2rem;
   }
   &--icon {
      width: 178px;
      height: 178px;
      border-radius: 50%;
      background: #f5f5f5;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 4rem;
   }
   &--text {
      text-align: center;
      position: relative;
      p {
         font-family: $font;
         font-style: normal;
         font-weight: 700;
         font-size: 1.8rem;
         color: #282828;
      }
      &:after {
         content: "";
         position: absolute;
         width: 80%;
         height: 0;
         left: 10%;
         top: 120%;
         border: 2px dashed #ed769c;
      }
   }
   @include notebook {
      width: 30%;
   }
   @include tablet {
      width: 45%;
      margin-bottom: 1rem;
      &:nth-last-child(2) {
         margin: 0 0 1rem 0;
      }
      &:last-child {
         margin-bottom: 0;
      }
   }
   @include mobile {
      width: 70%;
   }
   @include mobile-sm {
      width: 100%;
   }
}
